apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: my-gp2
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: true,
    storageclass.kubernetes.io/is-default-class: true
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2
  zone: us-east-1a